<h2> Edit a Product: </h2>

 <form action="/products/update?myId=<%= productDetails._id %>" method="post">
   <label for="product-name"> Product Name: </label>
   <input id="product-name" type="text" name="productName"
          value="<%= productDetails.name %>">
   <br>

   <label for="product-price"> Product Price: </label>
   <input id="product-price" type="number" step="0.01"
          name="productPrice" value="<%= productDetails.price %>">
   <br>

   <label for="product-image"> Product Image: </label>
   <input id="product-image" type="url" name="productImageUrl"
          value="<%= productDetails.imageUrl %>">
   <br>

   <label for="product-description"> Product Description: </label>
   <textarea id="product-description" type="text"
             name="productDescription">
             <%= productDetails.description %>
   </textarea>
   <br>

   <button> Submit </button>
 </form>
