<h2> Product Details </h2>

<h3> <%= productDetails.name %> </h3>

<img src="<%= productDetails.imageUrl %>">
<p> $<%= productDetails.price %> </p>
<p> <%= productDetails.description %> </p>

<hr>
<section>
  <h3> Reviews </h3>
  <ul>
    <% productDetails.reviews.forEach((review) => { %>
      <li>
        <h4> <%= review.author %> </h4>
        <p> <%= review.stars %> </p>
        <p> <%= review.content %> </p>
      </li>
    <% }) %>
  </ul>

  <a href="/products/<%= productDetails._id %>/reviews/new">
    Review This Product
  </a>
  <br>
</section>
<hr>



<a href="/products/<%= productDetails._id %>/edit">
  Edit This Product
</a>
<br>

<form action="/products/<%= productDetails._id %>/delete"
      method="post">
      <button> Delete </button>
</form>
